html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #47392e;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f7f0f0;
}

header {
  background-color: #d6b6be;
}

footer {
  background-color: #d6b6be;
}
