html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #47392e;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  height: 1000px;
  background-color: #ffffff;
  display: grid;
  place-items: center;
}







@media screen and (min-width: 38em) {
}





@media screen and (min-width: 62.5em) {
}
