html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #47392e;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f7f0f0;
}

p {
  font-size: 1.1875rem;
}

.icon svg {
  fill: currentColor;
  align-content: center;
  padding: 0;
  margin: 0;
}

.logo {
  height: 45px;
}

.instagram {
  height: 32px;
}

.twitter {
  height: 32px;
}

.facebook {
  height: 32px;
}

h1 {
  font-size: 3.75rem;
  font-weight: bold;
  text-align: center;
}

main h2 {
  font-size: 3.75rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

li {
  font-size: 1.1875rem;
}

header {
  background: #d6b6be;
  display: flex;
  justify-content: center;
  padding: .75em;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

header img {
  width: 64px;
  margin: 0;
  padding: 0;
  display: block;
}

body p {
  text-align: center;
}

header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #d6b6be;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

header nav a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

header nav a:hover {
  color: #734c56;
}


/* footer */
footer {
  background-color: #d6b6be;
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 0;
  padding-bottom: 0;
}

footer p {
  color: #fff;
}

footer ul {
  display: flex;
  padding: 0;
}

footer li {
  list-style: none;
  margin-right: 1em;
}

/* dropdown */

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}





@media screen and (min-width: 38em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
  }

  .logo {
    grid-column: 2 / 3;
  }

  header nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul {
    display: flex;
  }

  header nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  header nav a {
    opacity: 1;
    position: relative;
  }

  header nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

}


@media screen and (min-width: 62.5em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
  }

  .logo {
    grid-column: 2 / 3;
  }

  header nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul {
    display: flex;
  }

  header nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  header nav a {
    opacity: 1;
    position: relative;
  }

  header nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

}
