html {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #47392e;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  height: 1000px;
  display: grid;
  place-items: center;
}

main p {
  text-align: center;
}

main a {
  border: .2rem solid #af8b96;
  border-radius: 1.2rem;
  padding: .5em 1em .6em;
  background-color: #af8b96;
  margin: 1em;
  text-decoration: none;
  color: #fff;
  display: block;
}

main a:hover {
  background-color: #c8a2a9;
  border: .2rem solid #c8a2a9;
}

main ul {
  text-align: center;
  display: block;
  padding: 0;
  list-style: none;
  width: 20em;
}

main li {
  list-style: none;
  font-weight: bold;
  margin-bottom: 2em;
}

main h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 38em) {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
  }

  main ul {
    width: 20em;
  }

}

@media screen and (min-width: 62.5em) {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
  }

  main ul {
    width: 30em;
  }

}
